<!-- -->
<launch>
	<arg name="file"/>
	
	<node pkg="data_record" type="record_gps_node" name="gps_record_node" output="screen">
		<param name="file_name" value="$(find data_record)/tools/data/$(arg file)" />
	</node>

	<node pkg="data_record" type="record_imu_node" name="imu_record_node" output="screen">
		<param name="file_name" value="$(find data_record)/tools/data/$(arg file)" />
	</node>
	
	<node pkg="data_record" type="record_state_node" name="state_record_node" output="screen">
		<param name="file_name" value="$(find data_record)/tools/data/$(arg file)" />
	</node>

</launch>
