<!-- -->
<launch>
	<arg name="gps_port" default="/dev/ttyS2"/>
	<arg name="file_name" default="result1" />
	
	<node pkg="novatel" type="novatel_node" name="novatel_imu_node" >
		<param name="port" value="$(arg gps_port)" />
		<param name="baudrate" value="115200" />
		<param name="log_commands" value="corrimudatasb ontime 0.01" />
		<param name="log_corrimu_frequency" value="100"/>
		<param name="corr_imu_topic" value="/corr_imu"/>
	</node>
	
	<node name="record_pathtracking_state_node" pkg="recorder" type="record_pathtracking_state_node" output= "screen">
		<param name="file_path" value="$(find recorder)/data/state/"/>
		<param name="file_name" value="$(arg file_name)_vehicle.txt"/>
		<param name="state_topic" value="/tracking_state" />
	</node>
	
	<node name="record_IMU_node" pkg="recorder" type="record_IMU_node" output= "screen">
		<param name="file_path" value="$(find recorder)/data/state/"/>
		<param name="file_name" value="$(arg file_name)_imu1.txt"/>
		<param name="imu_topic" value="/corr_imu" />
	</node>

</launch>
