<!-- -->
<launch>

	<arg name="gps_port" default="/dev/ttyS2"/>		    <!-- GPS-->
	<arg name="file_name" default="path.txt" />
	<arg name="max_speed" default="30.0" />
<!--底层 -->
	<include file="$(find ant_driver)/launch/ant_driver.launch"/>
	
	<node name="path_tracking_node" pkg="path_tracking" type="path_tracking_node" output="screen">
		<param name="file_path" value="$(find recorder)/data/path_data/result/"/>
		<param name="path_points_file" value="$(find recorder)/data/path_data/result/$(arg file_name)"/>
		<param name="disThreshold" value="6.0"/>
		<param name="max_side_accel" value="1.0"/>
		<param name="foreSightDistance_coefficient_" value = "1.4"/>
		<param name="foreSightDis_latErrCoefficient" value = "-2.0"/>
		<param name="speed" value="$(arg max_speed)"/>
	</node>
	
	<node pkg="novatel" type="novatel_node" name="novatel_node"  >

		<param name="port" value="$(arg gps_port)" />
		<param name="baudrate" value="115200" />
		<param name="log_commands" value="inspvaxb ontime 0.05" />
		<param name="is_lltoutm"   value="true"/>
		<param name="ll2utm_topic" value="/ll2utm_odom"/>
		<!--param name="x_offset" value="-1.3"/ -->
		
	</node>
	
	<node name="record_debug_path_node" pkg="recorder" type="record_path_node">
		<param name="file_path" value="$(find recorder)/data/path_data/debug/"/>
		<param name="file_name" value="$(arg file_name)"/>
		<param name="sample_distance" value="0.1" />
		<param name="utm_topic" value="/ll2utm_odom" />
	</node>
	
	<node  type="decision_making_node" pkg ="decision_making" name="decision_making_node" >  
		<param name ="traffic_mark_topic" value="/traffic_mark" />
	</node>
	

</launch>
