<!-- -->
<launch>

	<arg name="gps_port" default="/dev/ttyS2"/>		    <!-- GPS-->
	
	<arg name="file_path" default="$(find data)/data/raw/"/>
	<arg name="file_name" default="path.txt" />
	

	<node name="record_gps_data" pkg="record_gps_data" type="record_gps_data_node" output= "screen">
		<param name="file_path" value="$(arg file_path)"/>
		<param name="file_name" value="$(arg file_name)"/>
		<param name="sample_distance" value="0.2" />
		
	</node>
	
	<node pkg="novatel" type="novatel_node" name="novatel_node" >

		<param name="port" value="$(arg gps_port)" />
		<param name="baudrate" value="115200" />
		<param name="odom_topic" value="/gps_odom" />
		<param name="log_commands" value="inspvaxb ontime 0.05; bestutmb ontime 0.05" />
		<param name="gps_default_logs_period" value="0.0" />
		<param name="span_default_logs_period" value="0.0" />
		
		<param name="inspvax_topic" value = "/gps" />
	</node>

</launch>
