<!-- -->
<launch>

	<arg name="base_control_port" default="/dev/U1"/>   <!--底层can分析仪-->
	<arg name="telecontrol_port" default="/dev/U3"/>    <!--遥控器 STM32-->
	

	<node name="telecontrol" pkg="little_ant" type ="telecontrol_stm32" >
		<param name ="port_name" value="$(arg telecontrol_port)"/>
	</node>
	
	<node name="base_control" pkg="little_ant" type="base_control">
		<param name ="port_name" value="$(arg base_control_port)"/>
	</node>
	
	
	

	<node  type="decision_making_node" pkg ="planning" name="decision_making_node"  />   <!--                   -->
	
	

</launch>
