<!-- -->
<launch>

	<arg name="base_control_port" default="/dev/U5"/>   <!--底层can分析仪-->
	<arg name="gps_port" default="/dev/ttyS2"/>		    <!-- GPS-->
	<arg name="stm32_port" default="/dev/U6"/>          <!-- STM32-->
	<arg name="pathTracking_file_name" default="_temp.txt"/>
	
<!--底层 -->	
	<node name="base_control" pkg="little_ant" type="base_control">
		<param name ="obd_can_port_name" value="$(arg base_control_port)"/>
		<param name ="stm32_port_name" value="$(arg stm32_port)"/>
		<param name ="stm32_baudrate" value="115200"/>
		<param name ="max_steering_speed" value="5.0"/> <!--前后帧转角最大差值 -->
		
	</node>
	
	
	
<!--避障-->	
	<node type="avoiding_node" pkg="avoiding"  name="avoiding_node" output="screen" >

		<param name="objects_topic" value="/detection/lidar_objects" />
		
		<param name="path_points_file" value="$(find data)/data/result/$(arg pathTracking_file_name)"/>
		
		<param name="safety_distance_side" value="0.4"/>    <!--   两侧安全距离       -->
		<param name="danger_distance_side" value="0.25"/>
		
		<param name="max_deceleration" value="5.0" />

		
	</node>
	
	
	<node name="record_gps_data" pkg="record_gps_data" type="record_gps_data_node">
		<param name="file_path" value="$(find data)/data/debug.txt"/>
	</node>
	

	<node  type="decision_making_node" pkg ="decision_making" name="decision_making_node" />   <!--                   -->
	
	

</launch>
