<!-- -->
<launch>

	<node name="esr_radar" pkg="esr_radar" type ="esr_radar" output="screen">
		<param name ="is_pubBoundingBox" type ="bool" value="True"/>
		<param name ="is_sendMsgToEsr"  type ="bool"  value="False"/>
		<param name ="in_port_name" value="/dev/ttyUSB2"/>
		<param name ="out_port_name" value="/dev/ttyUSB1"/>
	</node>
</launch>
